///////////////////////////////
/// minimum @arcgis/core styles
///////////////////////////////

// scss modules
@use "./../node_modules/@arcgis/core/assets/esri/themes/base/_mixins.scss" as *;
@use "./../node_modules/@arcgis/core/assets/esri/themes/base/_sizes.scss" as *; //_Ui.scss

// variables
$font-family: var(--calcite-sans-family); // _View.scss
$font-size: var(--calcite-font-size--1); // _OverlayItem.scss
$line-height: 1.3em; // _OverlayItem.scss

// view and ui
@import "./../node_modules/@arcgis/core/assets/esri/themes/base/_View.scss";
@import "./../node_modules/@arcgis/core/assets/esri/themes/base/_Overlay.scss";
@import "./../node_modules/@arcgis/core/assets/esri/themes/base/_OverlayItem.scss";
@import "./../node_modules/@arcgis/core/assets/esri/themes/base/_Ui.scss";

//////////////////////////
/// @arcgis/core overrides
//////////////////////////

.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

//////////////////////
/// application styles
//////////////////////

html,
body,
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
